body {
  @include reset;
  @include font-smoothing;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-family-sans-serif;
  color: $text-01;
  background-color: $ui-01;
  line-height: 1;
}

main {
  flex: 1 0 0%;
}

.container {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  main {
    &:focus {
      outline: none;
    }
  }
}
